* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: calibri;
}

body {
  background-color: #ff4656;
  padding: 20px;
  margin: 0;
}

.intro {
  background-color: #101923;
  width: 335px;
  height: 543px;
  margin-top: 120px;
  text-align: center;
}

.logo {
  display: flex;
  width: 150px;
  height: 150px;
  padding-left: 25px;
  margin-left: 95px;
  margin-top: 120px;
}

.user {
  position: relative;
  color: #ffffff;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  top:-15%;
  left:-1%;
}
.password {
  position: relative;
  color: #ffffff;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  top:-10%;
  left:-1%;
}


#btnEnter {
  display: flex;
  margin-left: 120px;
  border-radius: 5px;
  font-family: Acme, sans-serif;
  padding: 5px 10px;
  color: black;
  font-size: 15px;
  text-decoration: none;
  overflow: hidden;
  transition: 0s;
}

#btnEnter:hover {
  background: #ff4656;
  box-shadow: 0 0 1px #ff4656, 0 0 2px #ff4656, 0 0 3px #ff4656;
}

#email {
  display: flex;
  height: 30px;
  width: 210px;
  background-color: #fff;
  color: white;
  border-radius: 10px;
  text-align: center;
  margin-left: 20%;
}
#password {
  display: flex;
  height: 30px;
  width: 210px;
  background-color: #fff;
  color: black;
  border-radius: 10px;
  text-align: center;
  margin-left: 20%;
}
.firstPage {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

}

.register {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  white-space: nowrap;
  text-align: unset;
  font-size: 10px;
  margin-left: 40px;

}

.organize {
  color: #fff;
  font-size: 15px;
  margin-left: 10px;
}

.organizeTwo {
  position:relative;
  color: #fff;
  font-size: 15px;
  top:30px;
  left:-180px;
  margin-left: 8px;
}

.start {
  display: flex;
  justify-content: flex-end;
  background-color: #101923;
  padding: 10px;
  color: #ffffff;
}

.final {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
}

.btn {
  padding-left: 20px;
}

.final {
  display: flex;
  color: white;
  justify-content: center;
  font-size: 10px;
}

.registerTwo {
  background-color: #101923;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20vh;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
}

.errorfour {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.error {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

.inputs {
  display: flex;
  height: 30px;
  width: 210px;
  background-color: #fff;
  color: white;
  border-radius: 10px;
  text-align: center;
  margin-left: -300%;
}

.regist { 
position: relative;
left: -80px;
margin-top: 50%;

}

#btnRegister {
  display: flex;
  margin-left: -30px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-family: Acme, sans-serif;
  padding: 5px 10px;
  color: black;
  font-size: 15px;
  text-decoration: none;
  overflow: hidden;
  transition: 0s;
}

#btnRegister:hover {
  background: #ff4656;
  box-shadow: 0 0 1px #ff4656, 0 0 2px #ff4656, 0 0 3px #ff4656;
}
