*{
    font-family: calibri;
}

body{
 margin: 0px;
 background-color: #FF4656;
}

.firstPage{
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
 flex-direction: column;
 background-image: url("/src/img/fondo1.png");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: 20%;
 padding: 20%;
}

.user{
    position: relative;
    top: 3px;
    left: 50px;
    color: white;
}

.password{
    position: relative;
    top: -71px;
    left: 250px;
    color: white;
}

.btnEnter{
    position: relative;
    top: -93px;
    left: 380px;
    color: white;
}

.register{
    display: flex;
    position: relative;
    justify-content: center;
    color: white;
    left: 150px;
    top: -60px;
}

.organize{
    position: relative;
    top: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.start{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.btn{
    padding-left: 20px;
}

.final{
    display: flex;
    color: white;
    justify-content: center;
    font-size: 10px;
}

.registerDos{
    background-color: #101923;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20vh;
}

.registrarse{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.ingresarRegistro {
  background-color: #FF4656;
  border: 1px transparent;
  border-radius: 10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.ingresarRegistro:hover {
  transition-duration: .2s;
  background-color: #b6343f;
}

.errorfour{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.error{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
}

h1{
    font-size: 50px;
    font-weight: bold;
}

